header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
body {
    background-color: #244855; /* Dark blue background */
    color: #FBE9D0; /* Light cream text */
}
.container {
    background-color: #003134; /* Dark teal container */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, label {
    color: #FBE9D0; /* Light beige for headings and labels */
}
.btn-primary {
    background-color: #874F41; /* Dark brown buttons */
    border-color: #D3D9D4;
}
.btn-primary:hover {
    background-color: #FBE9D0; /* Light beige hover state */
    border-color: #D3D9D4;
    color: #141619; /* Change text to dark on hover */
}
.btn-secondary {
    background-color: #124E66; /* Light teal button for secondary options */
    border-color: #D3D9D4;
}
.btn-secondary:hover {
    background-color: #874F41; /* Dark brown on hover */
    border-color: #D3D9D4;
}
.text-success, .text-danger {
    color: #FBE9D0; /* Keep alerts consistent with the light text */
}