body {
    background-color: #244855;
    color: #FBE9D0;
}
.container {
    background-color: #003134;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, label {
    color: #FBE9D0;
}
.btn-primary {
    background-color: #340300;
    border-color: #FBE9D0;
}
.btn-primary:hover {
    background-color: #FBE9D0;
    border-color: #D3D9D4;
    color: #141619;
}
.btn-secondary {
    background-color: #340300;
    border-color: #FBE9D0;
}
.btn-secondary:hover {
    background-color: #FBE9D0;
    border-color: #D3D9D4;
    color: #141619;
}
.text-success, .text-danger {
    color: #FBE9D0;
}
.big-container {
    background-color: #340300;
    padding: 10px;
}
h4 {
    color: #FBE9D0;
}
.bg-light {
    background-color: #FBE9D0 !important;
}
.text-dark {
    color: #FBE9D0 !important;
    font-size: 12px;
}
.text-white {
    color: #001734 !important;
}
.bg-dark {
    background-color: #874F41 !important;
    height: max-content;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
a:hover {
    color: #E64833 !important;
}
.footer {
    background-color: #001734;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 20px;
}
.navbar-light {
    background-color: #FBE9D0;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link,
.navbar-light .navbar-toggler-icon {
    color: #244855;
}

.navbar-light .nav-link:hover {
    color: #E64833;
}

.nav-item p {
    color: #000000 !important;
}

.nav-item a {
    color: #000000 !important;
}

.nav-item span {
    color: #000000 !important;
}

.nav-item li {
    color: #000000 !important;
}

.form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
button {
    background-color: #340300;
    border-color: #FBE9D0;
    color: #FBE9D0;
}
.navbar {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Optional: spread out items horizontally */
}
.btn-outline-light {
    text-align: center !important;
}