
<div th:replace="fragments/header"></div>
<div class="container-fluid d-flex" id="main" th:if="${Login}">
    <div th:each="car : ${carList}" class="col-3 card p-2 me-2 mt-2">
        <span class="d-flex">
            <h3 th:text="${car.make} + ' ' + ${car.model} + ' ' + ${car.year}"></h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" hx-get="/loadCarForm/${car.id}" hx-target="#main">
                <path fill="currentColor" d="M10 12a2 2 0 1 1 0-4a2 2 0 0 1 0 4m0-6a2 2 0 1 1 0-4a2 2 0 0 1 0 4m0 12a2 2 0 1 1 0-4a2 2 0 0 1 0 4"/>
            </svg>
        </span>

        <p th:text="'VIN: ' + ${car.VIN}"></p>
    </div>
    <button id="addCar" class="col-3 card p-2 me-2 mt-2 d-flex justify-content-center align-items-center" hx-get="/loadCarForm" hx-target="#main">
        <h1>+</h1>
    </button>
</div>
<div class="container" th:if="${!Login}">
    <h3>PLease Log in</h3>
</div>


</body>
</html>